   article
     {
    witdh: 80%;
    display: block;
    margin: auto;
    margin-left: 100px;
    
    }

      .categoria {
          width: 50%;    
          height: 40px;
          border-radius: 0px 27px 26px 0px;
          font-family: arial;
          font-size: 30px;
          color: white;
          background: #7ABA96;
        }
       .titol {
          margin-top: 5px;
          margin-bottom: 10px;
          color: black;
          font-size: 45px;
        }
        #info {
          width: 600px;
         margin-left: 10px;
        }

        .foto {
          width: 280px;
          height: 300px;
          float: left;
          margin-right: 20px;
          border: 2px solid-grey;
        }

        .info2 { 
          width: 300px;
          height: 300px;
          float: right;  
          text-align: left;   
          border: 2px solid-grey;
        }

        .general {
          border: 1px solidblack;
          background-color: #7ABA96;
          padding-left:5px; 
          padding-top:5px;
          padding-bottom: 15px;
        }

        #ingredients {
          margin-top: 20px;
          background-color: #cde5d7;
                 }

         .prepa {  /*tota la caixa*/
          clear: both;
          width: 560px;
        }

                
         .pas {
          width: 100%;
          white-space: pre;
          display: inline;
          line-height: 40px;
          padding-left: 5px;
        }

        .numero {
          width: 30px;
          height: 30px;
          background-color: #7ABA96;
          color: white;
          font-size: 15;
          white-space: pre;
          border-radius: 50%;
          padding: 10px;
          text-align: center;
        }

        span.pas::after {
          white-space: pre;
        }

        .subtitol2 {
          font-size: 25px;
          color: black;
          text-decoration: bold;
          padding-top: 10px;
          padding-bottom: 10px;
        }
    header {
    display:block;
    margin:auto;
    text-align: center;
}
#fijo{
  position: sticky;
  top:0px;
  z-index: 10;
  background-color: white;
}
.menunav{
    border-bottom: 2px  solid gray;
    border-top: 2px  solid gray;
    padding: 15px 0px;
    margin 0px;
    text-align: center;
    width: 100%;
    position: sticky;
    z-index: 1;
}
.menunav li {
    display: inline;
}
.menunav li a{
    text-transform: uppercase;
    color: black;
    padding-right: 15px;
    text-decoration: none;
}
.menunav li a:hover{
    color: #7ABA96;
}